footer {
  padding: 5rem 0;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  color: var(--color-primary);
}

.line {
  background-color: var(--color-primary);
  height: 1px;
  width: 100%;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto 3rem;
}

@media screen and (max-width: 1024px) {
}
